
#wrap{width:100%;height:100%;position:relative;}
#main{width:100%;height:92%;position:absolute;}
#tab{width:100%;height:8%;position:fixed;bottom:0;background:cyan;}
#tab>ul{width: 100%;height: 100%;}
#tab>ul>li{width: 25%;height: 100%;float: left;text-align: center;}
#tab a{height:100%;display:flex;justify-content:center;align-items:center;font-size:0.2rem;}
